h1 {
  font-size: 100px;
  color: #fff;
  text-align: center;
}

body {
  font-family: arial;
  background-color: #b5c0d1;
}

.brnd {
  border-radius: 0px 0px 10px 10px;
  background-color: #1e3875;
  width: 75%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

p {
  font-size: 25px;
  text-align: center;
  color: white;
  text-transform: capitalize;
  text-decoration: underline;
}

h2 {
  font-family: arial;
  color: black;
  text-align-last: center;
  font-size: 40px;
}

.brnd2 {
  border-radius: 10px 10px 10px 10px;
  background-color: #1e3875;
  width: 75%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 50px;
}

h3 {
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: arial;
}

.jafixbots {
    margin-left: auto;
    margin-right: auto;
    float: center;

}

button {
  color: white;
  text-align: center;
  background-color: blue;
  border-radius: 10px;
  border-color: blue;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
}

.botbtn { /*moet nog worden gecentreerd*/
  text-align: center;
  background-color: #287fba;
  font-size: 20px;
  border: 2px solid #236b9b;
  margin: 10px;
  margin-top: 10px;
  width: 160px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 20px;
  transition-duration: 0.4s;
  color: #ffffff;
}

.botbtn:hover {
  background-color: #236b9b;
}
