h1 {
  font-family: arial;
  font-size: 50px;
  color: #fff;
  text-align: center;
}

body {
  font-family: arial;
  background-image: url("bg.png");
}

.border {
  border-radius: 10px;
  background-color: #253247;
  width: 80%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

p {
  font-size: 25px;
  text-align: center;
  color: white;
  font-family: arial;
}

h2 {
    text-align: center;
    color: #567eb5;
    text-decoration-style: solid;
    text-decoration: underline overline;
}

/*.border2 {
  border-style: solid;
  border-color: ##608fe0;
  background-color: #bfd3ef;
  border-radius: 10px;
  width: 80%;
  margin: auto;
}*/

.navbar {
  font-family: arial;
  color: #d6e4fc;
  font-weight: 200;
}

.link {
    display: inline;
    float: center;
    padding: 8px;
    background-color: #black;
    border-radius: 8px;
    font-size: 20px;
}

.login {
    float: right;
    display: inline;
    padding: 8px;
    background-color: #black;
    border-radius: 8px;
    font-size: 20px;
}
