body {
  background-color: #c7d1e0;
}

.customnavbar {
  background-color: #303030;
}

.customnavbar a {
  color: #ffffff;
}

.navbarbg {
  background-color: #909090;
}

.plainbtn {
  background:none;
  border:none;
  margin:0;
  padding:0;
}

.welcomebrnd {
  text-align: center;
  background-color: #1d4e89;
  color: #f7f7f7;
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 0px 0px 5px 5px;
}

.welcomebrnd h1 {
  font-size: 60px;
}

.welcomebrnd p {
  font-size: 20px;
}

.getstarted {
  text-align: center;
  padding-top: 40px;
}

.size45px {
  font-size: 45px;
}

.bot {
  background-color: #727272;
  margin: 0 auto;
  padding: 10px;
  padding-left: 30px;
  border-radius: 5px;
  color: #e0e0e0;
}

.bot h1 {
  font-size: 40px;
}

.botbtn {
  background-color: #287fba;
  font-size: 20px;
  border: 2px solid #236b9b;
  margin: 5px;

  margin-top: 10px;
  width: 160px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 20px;
  transition-duration: 0.4s;
  color: #ffffff;
}

.botbtn:hover {
  background-color: #236b9b;
}
